body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.title {
  background: #e3f4ff;
  padding:15px;
}

.content {
  background: #e3f4ff;
  padding-left:15px;
  padding-top:20px;
  padding-bottom: 20px;
}

.button-container {
  background: #e3f4ff;
  margin-top: 16px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 8px;
}

button {
  display:block;
  background: white;
  border: 1px solid #eee;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-top:10px;
  padding-bottom:10px;
}